<div class="container-fluid" id="page">
  <div class="row">
    <div class="col-lg-3">
      <div id="sidebar"></div>
    </div>

    <div class="col-lg-9">
      <h1>JournalApp</h1>
      <div id="content"></div>
    </div>
  </div>
</div>

