// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//@import "bootstrap";

#sidebar {
  margin-right: 20px;
  height: 1600px;
  width: 200px;
  float: left;
  background: aqua;
  border: 2px solid black;
  text-align: left;
}

#content {
  float: left;
}