<form id="new-post-form">
  <label>Title
    <input type="text" name="post[title]" value="<%= attrs['title'] %>"></input>
  </label>

  <label>Body
    <input type="text" name="post[body]" value="<%= attrs['body'] %>"></input>
  </label>

  <input class="btn" type="submit" id="submit-new-post">Submit Post</input>

</form>

<a href="#/">Back to Posts Index</a>