 <a href="#/posts/new">New Post</a>

<ul id="posts_index">
<% posts.each(function(post){ %>
  <li>
    <a href="#/posts/<%= post.escape('id') %>"><%= post.escape('title') %></a>
    <button class="btn btn-danger btn-sm" data-id="<%= post.escape('id') %>">Delete</button>
  </li>
<% }) %>
</ul>